---
import BaseLayout from "../layouts/BaseLayout.astro";
import sponsors from "../data/sponsors.json";
---

<BaseLayout title="Kot" description="Heyo, I'm Kot! Nice to meet you.">
  <p>
    Hey, I'm Kot! I'm a comp sci student at the [University of
    Wisconsin](https://wisc.edu).
  </p>

  Here's a few things I've made:

  <ul>
    <li>
      <a href="https://github.com/kotx/render">render</a>, a Cloudflare Worker
      that serves objects from a Cloudflare R2 bucket.
    </li>
    <li>
      <a href="https://github.com/kotx/aster">aster</a>, another Cloudflare
      Worker that lets users reliably upload objects to Cloudflare R2.
    </li>
    <li>
      <a href="https://github.com/kotx/laplace">laplace</a>, a program to use a
      RPi Pico microcontroller for Wii U motion controls!
    </li>
    <li><a href="https://github.com/kotx/yukata.dev">this website</a>!</li>
  </ul>

  <p>
    And finally, thanks to these amazing people (and organizations) for <a
      href="https://github.com/sponsors/kotx">sponsoring me</a
    >:
    <ul>
      {
        sponsors.map((sp: { url: string; name: string }) => (
          <li>
            <a href={sp.url}>{sp.name}</a>
          </li>
        ))
      }
    </ul>
  </p>
</BaseLayout>
