<center>
  <p>
    <a href="mailto:kot@yukata.dev">Email</a>
    <a href="https://github.com/kotx">GitHub</a>
    <a href="https://awau.social/@kot">Mastodon</a>
  </p>
  <p><a href="https://github.com/kotx/yukata.dev">repo</a></p>
</center>
