@use "variables" as *;

article {
  header {
    margin-bottom: 0.75rem;

    h1 {
      margin-bottom: 0.25rem;
    }
  }

  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $site-color;
    font-weight: bold;
  }

  p {
    margin-bottom: 0.25rem;
  }

  a[href] {
    color: $site-color;

    &:hover {
      color: adjust-color($site-color, $lightness: +5%);
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 0.75rem;
    padding-left: 0;
  }

  blockquote {
    border-left: 4px solid $site-color;
    padding-left: 0.5rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
  }

  pre {
    margin-bottom: 0.75rem;
  }

  pre,
  code {
    border-radius: 4px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    span.line {
      padding: 0.4rem;
    }
  }
}
